
  
  <head>
    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>INDIZOLO.COM (C)</title>
    <!-- Bootstrap Core CSS -->
    
    <!--link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" type="text/css" /-->

    <link href="css/bootstrap.css" type="text/css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" type="text/css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  
  <body>
    <page_navbar></page_navbar>

    <div id="content" class="container-fluid">
      
    </div>  
    
    <page_footer></page_footer>

    <div id="search" >
      <button type="button" class="close" >×</button>
        <form>
          <input type="search" value="" placeholder="tapez un mot clé ici s.v.p." />
          <button type="submit" class="btn btn-primary">Recherche</button>
        </form>
      </div>
  </body>

<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/riot/2.3/riot+compiler.js"></script>
<script src="https://cdn.jsdelivr.net/superagent/0.18.0/superagent.min.js"></script>
<script src="https://cdn.jsdelivr.net/riotgear/latest/rg.min.js"></script>

<script type="riot/tag" src="page_navbar.tag">        </script>
<script type="riot/tag" src="annonces.tag">           </script>  
<script type="riot/tag" src="bootstrap-carousel.tag"> </script>    
<script type="riot/tag" src="page_content.tag">       </script>
<script type="riot/tag" src="page_groupe.tag">        </script>
<script type="riot/tag" src="page_liste.tag">         </script>
<script type="riot/tag" src="page_qui.tag">           </script>
<script type="riot/tag" src="page_footer.tag">        </script>
<script type="riot/tag" src="page_artiste.tag">       </script>
<script type="riot/tag" src="page_connecter.tag">     </script>
<script type="riot/tag" src="page_enregistrer.tag">   </script>
<script type="riot/tag" src="page_panier.tag">        </script>
<script type="riot/tag" src="tags.tag">               </script>
<script type="riot/tag" src="page_mentions.tag">      </script>
<script type="riot/tag" src="page_contact.tag">      </script>

<script>

//$(document).ready(function() {
   
      riot.compile(function() { // compilation nécessaire pour obtenir le tableau des tags (contenu) , ici uniquement pour le content.  
        riot.mount("page_navbar");
        riot.mount("page_panier");
        riot.mount("page_footer");  

      }) // compile

    // dipsatcher
      var SharedMixin = {
          observable: riot.observable()
      };

      riot.route.start(true);
    
      riot.route("/",function() {
          console.log("route->home");    
          riot.mount("div#content","page_content")
      })
    
      // route du menu.

      riot.route("/qui",function(){ 
          console.log("route->qui");  
         
          riot.mount("div#content","page_qui")
      })

      riot.route("/artiste",function(){ 
          console.log("route->artiste");     
          riot.mount("div#content","page_artiste")
      })

      riot.route("/connecter",function() { 
          console.log("route->connecter");     
          riot.mount("div#content","page_connecter")
      })

      riot.route("/enregistrer",function(){ 
          console.log("route->enregistrer");     
          riot.mount("div#content","page_enregistrer")
      })

      // autres routes.

      riot.route("/groupe/*",function(name){
          console.log("route->groupe",name);
          riot.compile(function() {
           riot.mount("div#content","page_groupe",{ "_id" : name });
        })
      })

      riot.route("/liste/*",function(search){
          console.log("liste->groupe",search)
          riot.mount("div#content","page_liste",{ "cherche" : search });
      })

      riot.route("/panier",function(){
        console.log("route->panier");
        riot.mount("div#content","page_panier")
      })

      riot.route("/mentions",function(){
        console.log("route->mentions");
        riot.mount("div#content","page_mentions")
      })

riot.route("/contact",function(){
        console.log("route->contact");
        riot.mount("div#content","page_contact")
      })

     
    //});    

</script>
</html>