
<html lang="fr">
  
  <head>
  	
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>INDIZOLO.COM (C)</title>
    <!-- Bootstrap Core CSS -->

    <link href="css/bootstrap.css" type="text/css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/shop-homepage.css" type="text/css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  
  <body>
  	<page_navbar></page_navbar>
    <div id="content"></div>  
    <page_footer></page_footer>
  </body>


 <script src="https://cdn.jsdelivr.net/riot/2.6/riot+compiler.min.js"></script>
 <script src="https://cdn.jsdelivr.net/jquery/3.1.1/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>

 <script type="riot/tag" src="page_navbar.tag"></script>  	 
 <script type="riot/tag" src="page_content.tag"></script>
 <script type="riot/tag" src="page_test.tag"></script>
 <script type="riot/tag" src="page_footer.tag"></script>
 <script>
 riot.compile(function() { // compilation nécessaire pour obtenir le tableau des tags (contenu) , ici uniquement pour le content.
	
	riot.mount("page_navbar");
  var contenu = riot.mount('div#content','page_content')[0];  
  riot.route.start();
  riot.route("/qui",function(){ 
                                    if (contenu) { contenu.unmount(true) ;}
                                    contenu = riot.mount("div#content","page_test")
                                  })
  })

</script>

</html>